

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("/mercado.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}